<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Thêm nhà cung cấp</title>
<style>
.log{
margin-right:30px;
}
input[type=text] {
  width: 250px;
  transition: ease-in-out, width .35s ease-in-out;
}

</style>
</head>
<body>
	<div th:object="${nhanvien}" align = "right" class = "log">
	  <p>Xin chào: <span th:text="*{hoTen}"></span>.</p>
	  <a th:href="@{/logout}">Đăng xuất</a><br/>
	</div>
	
    <div align="center">
        <h1>Thêm mới nhà cung cấp</h1>
        <br />
        <form action="#" th:action="@{/suppliers/add}" th:object="${nhacungcap}"
            method="post">
 
            <table border="0" cellpadding="10">
            	
                <tr>
                    <td>Tên nhà cung cấp <span style="color:red">*</span></td>
                    <td><input id = "name" type="text" th:field="*{tenNhaCungCap}" autofocus /></td>
                    <td><span id = "error_name" style="color:red" th:text="${error_name}"></span></td>
                </tr>
                <tr>
                    <td>Tên chủ cửa hàng <span style="color:red">*</span></td>
                    <td><input id = "name2" type="text" th:field="*{tenChuCuaHang}" /></td>
                    <td><span id = "error_name2" style="color:red" th:text="${error_name2}"></span></td>
                </tr>
                <tr>
                    <td>Địa chỉ <span style="color:red">*</span></td>
                    <td><input id = "address" type="text" th:field="*{diaChi}" /></td>
                    <td><span id = "error_add" style="color:red" th:text="${error_add}"></span></td>
                </tr>
                <tr>
                    <td>Số điện thoại <span style="color:red">*</span></td>
                    <td><input id = "phone" type="text" th:field="*{soDienThoai}" /></td>
                    <td><span id = "error_phone" style="color:red" th:text="${error_phone}"></span></td>
                </tr>
                                    
                <tr>
                	<td><button id = "btnBack" type="button" onclick="history.back()">Quay lại</button></td>
                    <td><button id = "btnAdd" type="submit">Thêm mới</button> </td>
                    
                </tr>
            </table>
        </form>
        
    </div>
</body>
</html>